@inherits LayoutComponentBase

@* MudBlazor 必需的提供程序 *@
<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="app-container">
    <div class="app-content">
        @Body
    </div>
    
    @if (layoutService.IsNavbarVisible)
    {
        <NavMenu />
    }
</div>
